/**
 * Toolkit styles
 */

// @import url(http://localhost:4200/assets/travis.css)

@import "elements/typography";
@import "elements/forms";
@import "elements/code";
@import "modules/media";
@import "modules/accounts";
@import "modules/buttons";
@import "modules/flash";
@import "modules/loading-indicator";


*, *:before, *:after {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  font-size: 16px;
  color: $grey-dark;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}
