---
title: Overview | Travis CI Styles
fabricator: true
---

<h1>Travis CI Styles</h1>
<h2>Overview</h2>

<p>Travis CI Styles for your viewing pleasure.</p>

<!-- <h2>Usage</h2>

<p>Start by adding the following files to your page:</p>

<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>

<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre> -->


<h2>Colors</h2>

{{#each toolkit.colors}}
	<div class="f-color-chips">
	{{#each this}}
		<div class="f-color-chip">
			<div class="f-color-chip__name">${{@key}}</div>
			<div class="f-color-chip__color">{{this}}</div>
		</div>
	{{/each}}
	</div>
{{/each}}

<h2>Typography</h2>

<p>Standard font for headings and body text is Source Sans Pro.</p>
<p>Default system fonts are used for displaying monospaced fonts.</p>

<h1>Heading Level 1</h1>
<h2>Heading Level 2 <small>and small</small></h2>
<h3>Heading Level 3 <small>and small</small></h3>
<h4>Heading Level 4 <small>and small</small></h4>
<h5>Heading Level 5 <small>and small</small></h5>
<h6>Heading Level 6 <small>and small</small></h6>

<p>Some body text lorem ipsum dolor sit amet.</p>

<code><pre>var some = "example code";</pre></code>

<ul>
  <li>some</li>
  <li>list</li>
  <li>elements</li>
</ul>

<ol>
  <li>first</li>
  <li>second</li>
  <li>third</li>
</ol>
